<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>list</title>
</head>

<body>

    <h1>Ny androany dia, <%=daty%></h1>

    <h4>bienvenue</h4>

    <ul>

        <% for(var i=0;i<newItem.length;i++) {%>

        <li><%= newItem[i]%></li>

        <% } %>

    </ul>

    <form action="/" method="post">
        <input type="text " name="item" placeholder="entrez un nouvel article">
        <input type="submit" value="ajouter">
    </form>

</body>

</html>